@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--family-base);
  background-color: var(--background-secondary);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--icon-mute);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--icon-tertiary);
}
